<fa-app ng-controller="CardController" class="full-screen">
	<fa-grid-layout fa-options="{dimensions: [5, 3]}">
			<fa-modifier ng-repeat="item in menuCards">
				 <fa-surface class="menuCard"
				   fa-size="[undefined, 200]"
	               fa-origin="[0.5, 0]"
	               fa-align="[0.5, 0.5]"
	               fa-background-color="yellow">
				 	<a ui-sref="menuDetails({item:menuID})">
						<p>{{item.date}}</p> 
						<p>{{item.firstName}}</p>												<p>{{item.menuID}}</p>
					</a>
				</fa-surface>
			</fa-modifier>
	</fa-grid-layout>
</fa-app>
