<fa-app ng-controller="CardController" class="full-screen">
	<fa-grid-layout fa-options="{dimensions: [5, 3]}">
			<fa-modifier ng-repeat="card in menuCards">
				<a ui-sref="menuDetails({item:menuID})">
				  <fa-surface class="menuCard"
				   fa-size="[undefined, 200]"
	               fa-origin="[0.5, 0]"
	               fa-align="[0.5, 0.5]">
						<h2>{{parseDate(card.date)}}</h2> 
						<dl ng-controller="MenuController">
							<dt>Lead:</dt>
								<dd>{{card.firstName}}</dd>
							<dt style="margin-bottom: 0">Menu:</dt> 
								<dd ng-repeat="dish in menuDishes | filter:{ type:'main' }">{{dish.name}}</dd>
						</dl> 		
				  </fa-surface>
				</a>
			</fa-modifier>
	</fa-grid-layout>
</fa-app>
