<fa-app class="full-screen">
	<fa-grid-layout fa-options="{dimensions: [5, 3]}">
		<fa-modifier ng-repeat="card in menuCards" 
			fa-size="[undefined, 200]" fa-margin="[0.0, 20]" >
			<fa-modifier fa-rotate-y="cardDeck[{{menuCards.indexOf(card)}}].get()" 
					fa-origin="[0.5, 0.5]" fa-align="[0.5,0.5]"
					fa-size="growDeck[{{menuCards.indexOf(card)}}].get()">
			  <fa-surface class="menuCard" fa-click="animateGrow({{menuCards.indexOf(card)}})">
					<h2>{{parseDate(card.date)}}</h2> 
					<dl ng-controller="MenuController">
						<dt>Lead:</dt>
							<dd>{{card.firstName}}</dd>
						<dt style="margin-bottom: 0">Menu:</dt> 
							<dd ng-repeat="dish in menuDishes | filter:{ type:'main' }">{{dish.name}}</dd>
					</dl> 		
			  </fa-surface>
			    <!-- Back face:  menu and slot details -->
			    <fa-modifier fa-rotate-y="3.14159"
					fa-origin="[0.5, 0.5]" fa-align="[0.5,0.5]"
			    >
			      <fa-surface fa-size="[undefined, undefined]" class="menuCard">
			      	<h1>People</h1>
			        <dl ng-controller="MealSlotsController">
						<dt ng-repeat-start="slot in mealSlots">{{slot.type}}</dt>
						<dd ng-repeat-end>{{slot.firstName}}</li>
					</dl> 		
			        <h1>Menu</h1>
			        	<dl ng-controller="MenuController">
						<dt ng-repeat-start="dish in menuDishes">{{dish.type}}</dt>
						<dd ng-repeat-end>{{dish.name}}</li>
					</dl> 		
			      </fa-surface>
			    </fa-modifier>		  
			</fa-modifier>
			<!--/a-->
		</fa-modifier>
	</fa-grid-layout>
</fa-app>
	